{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      function myFunction() {
        alert("You right-clicked inside the div!");
      }
      </script>
    <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }

      .price {
        color: grey;
        font-size: 22px;
      }
      #myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }

      .card button:hover {
        opacity: 0.7;
      }
      </style>
    <meta charset="utf-8">

    {% if dispatch_challan %}
    <title>Dispatch Challan</title>
    {% else %}
    <title>Invoice</title>
    {% endif %}
    <link rel="stylesheet" href="{% static  'bill/style.css' %}" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{% static  'bill/logo.jpeg' %}" class="image-fluid" width="100%">
      </div>
      {% if dispatch_challan %}
      <h1>Dispatch Challan    {% if object.Bill_no %} {{object.Bill_no}} {% endif %}</h1>
      {% elif invoice %}
      <h1>Invoice {{object.Bill_no}}</h1>
      {% else %}
      <h1>Catlog</h1>
      {% endif %}
      {% if not  catlog %}
      <div id="company" class="clearfix">
        <div>Shree Shyam Silk Mill</div>
        <div>  <strong>GST NO 24APPPA5866A2Z2 </strong></div>
        <div>412-419 JD Market <br /> Surat,Gujarat -395010</div>
        <div>9374713081</div>
        <div>9377898938</div>
        <div>9898069377</div>
        <div><a href="mailto:company@example.com">company@example.com</a></div>
      </div>
      <div id="project" class="clearfix" >
        <div><span style="text-align: left;">{% if dispatch_challan %} Challan_no {% else %} Bill_ no {% endif %}</span> {{object.Bill_no}}</div>
        <div><span style="text-align: left;">Order_id</span> {{object.id}}</div>
        <div><span style="text-align: left;">CLIENT</span> {{ object.user.username}}</div>
        <div><span style="text-align: left;">Billing Address</span> {{object.billing_address.street_address}}</div>
        <div><span style="text-align: left;">Shipping Address</span> {{object.billing_address.street_address}}</div>
        <div><span style="text-align: left;">EMAIL</span> <a href="mailto:{{object.user.email}}">{{object.user.email}}</a></div>
        <div><span style="text-align: left;">Order DATE</span> {{ object.ordered_date.date}}</div>
        <div><span style="text-align: left;">Dispatch DATE</span> {{ object.dispatched_date.date}}</div>

      </div>
      {% endif %}
    </header>
    <main>
      {% if not catlog %}
      {% if dispatch_challan %}
      <table>
        <thead>
          <tr>
            <th class="service">SL.NO</th>
            <th class="desc">Product_name </th>
            <th>QTY</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object.items.all %}
          <tr>
            <td class="service">{{forloop.counter}}</td>
            <td class="desc">{{item.item.title}}</td>
            <td class="qty">{{item.quantity}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2" class="grand total"> Total Quantity</td>
            <td class="grand total" id="demo">{{object.get_total_quantity}}</td>
          </tr>
          <tr>
        </tbody>
        </tbody>
      </table>
      {% else %}
      <table>
        <thead>
          <tr>
            <th class="service">SL.NO</th>
            <th class="desc">Product_name </th>
            <th>QTY</th>
            <th>Per Piece </th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object.items.all %}
          <tr>
            <td class="service">{{forloop.counter}}</td>
            <td class="desc">{{item.item.title}}</td>
            <td class="qty">{{item.quantity}}</td>

            <td class="total">{{item.per_piece}}
            </td>
            <td class="total">{{ item.total_price }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td class="grand total"></td>
            <td class="grand total">Total Quantity</td>
            <td class="grand total">{{object.get_total_quantity}}</td>
            <td class="grand total"></td>
            <td class="grand total">{{ item.total_price }}</td>
          </tr>
          <tr>
            <td colspan="4" class="grand total"> TOTAL</td>
            <td class="grand total" id="demo">{{object.final_price}}</td>
          </tr>
          <tr>
            <td colspan="4" class="grand total">GST</td>
            <td class="grand total">{{object.total_tax}}</td>
          </tr>

          <tr>
            <td colspan="4" class="grand total">Grand TOTAL</td>
            <td class="grand total">{{object.total_grand}}</td>
          </tr>

        </tbody>
        </tbody>
      </table>
      {% endif %}
      {% else %}
      <input type="text" id="myInput" onkeyup="mySearchFunction()" placeholder="Search for names.." title="Type in a name">
      <div class="card">
      {% for product in object.items.all %}
      <h1>{{product.item.slug}}</h1>
      <div oncontextmenu="myFunction()" contextmenu="mymenu">
      <img src="{{product.item.image_url.all.0.image}}" alt="Denim Jeans" style="width:100%" download="no">
    </div>
      {% endfor %}
    </div>
      {% endif %}

    </main>
    <script>
function mySearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementsByClassName("card");
  tr = table[0].getElementsByTagName("h1");
  new_div = table[0].getElementsByTagName("div");
  image = table[0].getElementsByTagName("img");
  for (i = 0; i < tr.length; i++) {
    td = tr[i];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        new_div[i].style.display = "";
        image[i].style.display = "";
      } else {
        tr[i].style.display = "none";
        new_div[i].style.display = "none";
        image[i].style.display = "none";
      }
    }
  }
}
</script>


    {% if not catlog %}
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
    {% endif %}
    <button style="float: center;" onclick="window.print()">Print</button>
  </body>
</html>