{% load static %}



<!DOCTYPE html>
<html>
<head>
<title style="color: tomato;">Shree Shyam Silk Mill | INDIA'S Best Sarees</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-W3BEX1E4VZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W3BEX1E4VZ');
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->


<link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'select2/dist/js/select2.min.js' %}" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" ></script>
<script type="text/javascript">


    jQuery(document).ready(function(){
    jQuery('.js-example-basic-single').select2();
    });

</script>
<style>
div.sticky1 {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #fe9126;
  font-size: 20;
  padding:20px;
}
</style>
<style>

    .content {
      padding: 16px;
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .sticky + .content {
      padding-top: 60px;
    }
    </style>


<!-- //js -->
<link  href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'  type='text/css'>
<!-- start-smoth-scrolling "-->
<script type="text/javascript" src="{% static 'js/move-top.js' %}" async></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}" async></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});


</script>

{% block head_content %}
    {% endblock %}

<style>
	*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	}
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #f14804;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #6d0a0a;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */22.18% Done

Chapter : 8

Quiz : 8

Remaining Time : 7.64 Hours

￼Go to Lectures

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }


}
</style>




<!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->

	<div class="agileits_header" >
		<div class="container">
			<div class="agile-login">
				{% if request.user.is_authenticated %}
				<ul>
				    {% if request.user.userprofile.owner %}
                    <li> <a href="{% if request.user.userprofile.owner %} {% url 'admin:index' %} {% else %} {% url 'user_profile' %} {% endif %}" > <i class="fa fa-user" aria-hidden="true"></i> {{request.user.username}} </a></li>
                    <li> <a href="{% url 'product-list' %}" > <i class="fa fa-product" aria-hidden="true"></i> Store </a></li>
                   <li><a style="color:black" href="{% url 'order-summary' %}"><button type="button" class="btn btn-secondary mx-2" value="Cart">Cart(<span class="cartlength">0</span>)</button></li></a>
                    {% endif %}
				</ul>
				</div>
				<div class="product_list_header" >

                    {% if request.user.userprofile.owner %}
                    <a style="color:black" href="{% url 'share-summary' %}"><button type="button" class="btn btn-secondary mx-2">ShareCart(<span id="sharecart" style="color:black;">0</span>)</button></a>
                    <a style="color:white" href = "{% url 'order-list' %}"><i class="fa fa-cart-arrow-down" style="color:#ff9b05;" aria-hidden="true"></i>My Orders<t></t></a>
					<a style="color:white" href = "{% url 'dispatch-summary' %}"><i class="fa fa-share-alt" style="color:#ff9b05;" aria-hidden="true"></i> Dispatch- List<t></t></a>
                    <a style="color:white" href = "{% url 'share-list' %}"><i class="fa fa-share-alt" style="color:#ff9b05;" aria-hidden="true"></i> Share-list<t></t>  </a>
                    <a style="color:white" href = "{% url 'accounts:log_out' %}"><i class="fa fa-sign-out" style="color:#ff9b05;" aria-hidden="true"></i>Logout</a>
                    {% else %}
                    <a style="color:white" href="{% if request.user.userprofile.owner %} {% url 'admin:index' %} {% else %} {% url 'user_profile' %} {% endif %}" > <i class="fa fa-user" aria-hidden="true"></i> {{request.user.username}} </a>
                    <a style="color:white" href="{% url 'product-list' %}" > <i class="fa fa-product" aria-hidden="true"></i> Store </a>
                    <a style="color:black" href="{% url 'order-summary' %}"><button type="button" class="btn btn-secondary mx-2" value="Cart">Cart(<span style="color:black" class="cartlength">0</span>)</button></a>
                    <a style="color:white" href = "{% url 'order-list' %}"><i class="fa fa-cart-arrow-down" style="color:#ff9b05; aria-hidden="true"></i>My Orders</a>
                    <a style="color:white" href = "{% url 'accounts:log_out' %}"><i class="fa fa-sign-out" style="color:#ff9b05; aria-hidden="true"></i>Logout</a>
                    {% endif %}
                </div>

				{% else %}
				<ul>
					<li><a href="{% url  'accounts:sign_up' %}"> Create Account </a></li>
					<li><a href="{% url  'accounts:log_in' %}">Login</a></li>
				</ul>
		</div>
				{% endif %}
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="logo_products">
		<div class="container">

		<div class="w3ls_logo_products_left1">
				<ul class="phone_email">

                    <strong><li><i class="fa fa-university" aria-hidden="true"></i>GST NO 24APPPA5866A2Z2</li> </strong>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : +919377898938 </li>
                    <br>

				</ul>
			</div>

            {% if request.user.is_authenticated %}
		<div class="w3l_search">
			<form action="{% url 'search' %}" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="search" name="search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
        </div>
        {% endif %}

			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
{% if request.user.is_authenticated %}

	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									<li class="active"><a href="{% url 'index' %}" class="act">Home</a></li>
									<!-- Mega Menu -->
									{% for category in category_list %}
									{% if category.parent %}
									{% else %}
									{% if category.children %}
									<li class="dropdown">
										<a href="{% url 'category-page' category.id %}" class="dropdown-toggle" data-toggle="dropdown">{{category.name}}<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>All {{category.name}} </h6>
														{% for child in category.children.all %}
														<li><a href="{% url 'category-page' child.id %}">{{child.name}}</a></li>
														{% endfor %}
													</ul>
												</div>

											</div>
										</ul>
									</li>
									{% else %}
									<li><a href="{% url 'category-page' category.id %}">{{category.name}}</a></li>
									{% endif %}
									{% endif %}
									{% endfor %}
								</ul>
							</div>
							</nav>
			</div>
		</div>
{% endif %}
<!-- //navigation -->


{% if request.user.is_authenticated %}
{{user_valid}}
{% if user_valid %}
    {% block content %}
        No content.
    {% endblock %}

{% else %}
<div class="products">
    <div class="container">

            <h1> Welcome To <strong>Shree Shyam Silk Mills</strong></h1>
            <h3 class ="page-header page-header icon-subheading"> In Just a Single Phone Call You Can See Great Vareity of Design and Trends of Latest Fashions </h3>
            <h3> Just contact us  </h3></br>
            <ul>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:+919374713081">+919374713081</a>  <a href="https://wa.me/919374713081?text={{request.user}} requesting to Give Access"> CLick Here to Send messages</a></li> </br>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:+919898069377">+919898069377</a>  <a href="https://wa.me/919898069377?text={{request.user}} requesting to Give Access"> CLick Here to Send messages</a></li> </br>

            </ul>
    </div>
    </div>

{% endif %}
{% else %}
<!-- login -->
<div class="login">
	<div class="container">
<ul>
	<li><a href="{% url  'accounts:sign_up' %}"> Create Account </a></li>
	<li><a href="{% url  'accounts:log_in' %}">Login</a></li>
</ul>
	</div>
</div>
{% endif %}




<!-- //footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">

                <h3>Contact</h3>


                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>412-419 JD MARKET , <span> RING ROAD , SURAT</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:+919374713081">+919374713081</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:+919377898938">+919377898938</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:+919898069377">+919898069377</a></li>


                </ul>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-md-3 w3_footer_grid">
                <h3>Category</h3>
                <ul class="info">
                    <!-- Mega Menu -->
									{% for category in category_list %}
									{% if category.parent %}
									{% else %}
									{% if category.children %}
                                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'category-page' category.id %}">{{category.name}}</a></li>
									{% else %}
									<li><a href="{% url 'category-page' category.id %}">{{category.name}}</a></li>
									{% endif %}
									{% endif %}
									{% endfor %}

                    </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'product-list' %}">Store</a></li>
                    {% if present_order %}
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'order-summary' %}">My Cart</a></li>
                   {% endif %}
                   {% if request.user.userprofile.owner %}
                   <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'category_price' %}">Change Category Price </a></li>
                   {% endif %}
                </ul>


            </div>
            {% endif %}
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="footer-copy">

        <div class="container">
            <p>© 2020 Shree Shyam Silk Mills. All rights reserved | Design by <a href="http://w3layouts.com/">Prince Agarwal</a></p>
        </div>
    </div>

</div>
<div class="footer-botm">
        <div class="container">
            <div class="w3layouts-foot">
                <ul>
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="payment-w3ls">
                <img src="{% static 'images/card.png' %}" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
<!-- //footer -->

<!-- Bootstrap Core JavaScript -->

<script src="{% static 'js/bootstrap.min.js' %}"  async></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>

    <script>
        var URL = "{% url 'add-to-cart' %}";
        var URL1 = "{% url 'quantityshareupdate' %}";
    </script>
<!-- //here ends scrolling icon -->
<!-- main slider-banner -->
<script src="{% static 'js/skdslider.min.js' %}"  async></script>
<link href="{% static 'css/skdslider.css' %}" >
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});

			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});

		});
</script>


<script>
    {% if present_share %}
    var present_id = {{present_share.id}};
    {% else %}
    var present_id =0;
        {% endif %}


	if (sessionStorage.getItem('sharecart') == undefined) {
        {% if present_share %}
        var sharecart = {};
        var sharesum = 0;
        var present_id = {{present_share.id}};
        {% for item in present_share.items.all %}
        sharecart['share' + {{item.item.id}}] = ["{{item.item.slug}}"]
        sharesum = sharesum +1;
		{% endfor %}
        document.getElementById('sharecart').innerHTML = sharesum;
        {% else %}
        var sharecart = {};
        var sharesum = 0;
        var present_id =0;
        {% endif %}
        updateshareCart(sharecart)
	}
    else {
        sharecart = JSON.parse(sessionStorage.getItem('sharecart'));
        {% if present_share %}
        var present_id = {{present_share.id}};
        {% for item in present_share.items.all %}
        sharecart['share' + {{item.item.id}}] = ["{{item.item.slug}}"]
        sharesum = sharesum +1;
		{% endfor %}
        document.getElementById('sharecart').innerHTML = sharesum;
        {% else %}
        var sharecart = {};
        var sharesum = 0;
        var present_id =0;
        {% endif %}
        updateshareCart(sharecart)
	}

    $('.sharepr').on('click', 'button.cart', function(){
		var idstr = this.id.toString();
        console.log(idstr,sharecart);
        var id = idstr.slice(5,);
        URL = "{% url 'add-to-share' %}";
        URL1 = "{% url 'remove-to-share' %}";
        console.log(id);
        if(sharecart[idstr]!= undefined){
            delete sharecart[idstr];
            document.getElementById(idstr).innerHTML = "<button id=" + idstr + " class='btn btn-primary cart' > Add to Share </button>";
            updateshareCart(sharecart);
            var csrftoken = '{{ csrf_token }}';
            console.log(csrftoken)
            data= {
                "csrfmiddlewaretoken": csrftoken ,
                "pk":id
            }
            $.post(URL1,data)
        }
        else
        {   console.log("qwertyuio")
            name = document.getElementById('namepr'+id).innerHTML;
            sharecart[idstr] = name;

        var csrftoken = '{{ csrf_token }}';
        console.log(csrftoken)
        data= {
            "csrfmiddlewaretoken": csrftoken ,
            "pk":id
        }
        $.post(URL,data)
    }
        updateshareCart(sharecart);

    });




    function updateshareCart(cart) {
		console.log('We are inside updatecarr');
		var sharesum = 0;


		for (var item in cart) {
			sharesum = sharesum + 1;
            if (document.getElementById(item) != null)
            {
			document.getElementById(item).innerHTML = "<button id=" + item + " class='btn btn-primary cart' style='background-color:green'> Shared </button>";
            }
		}
		sessionStorage.setItem('sharecart', JSON.stringify(cart));
		document.getElementById('sharecart').innerHTML = sharesum;
    }

    function clearshareCart() {
		sharecart = JSON.parse(sessionStorage.getItem('cart'));
		for (var item in sharecart) {
            if (document.getElementById(item) != null)
            {
			document.getElementById(item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
            }
		}
		sessionStorage.clear();
		sharecart = {};
		updateshareCart(sharecart);


	}

</script>
<script>
	// Find out the cart items from localStorage
    var URL = "{% url 'add-to-cart' %}";
    {% if present_order %}
    var present_id = {{present_order.id}};
    {% else %}
    var present_id =0;
        {% endif %}


	if (sessionStorage.getItem('cart') == undefined) {
        {% if present_order %}
        var cart = {};
        var sum = 0;
        var present_id = {{present_order.id}};
        {% for item in present_order.items.all %}
        cart['pr' + {{item.item.id}}] = [{{item.quantity}},"{{item.item.slug}}",{{item.item.price}},{{item.item.set}}]
        sum = sum +1;
		{% endfor %}
		element =  document.getElementsByClassName('cartlength');
		element[0].innerHTML = sum;
	   if(element[1]!= undefined)
	    {
	    element[1].innerHTML = sum;
	    }
        {% else %}
        var cart = {};
        var sum = 0;
        var present_id =0;
        {% endif %}
        updateCart(cart);
	} else {
		cart = JSON.parse(sessionStorage.getItem('cart'));
        {% if present_order %}
        var cart = {};
        var sum = 0;
        var present_id = {{present_order.id}};
        {% for item in present_order.items.all %}
        cart['pr' + {{item.item.id}}] = [{{item.quantity}},"{{item.item.slug}}",{{item.item.price}},{{item.item.set}}]
        sum = sum +1;
		{% endfor %}
		element =  document.getElementsByClassName('cartlength');
		element[0].innerHTML = sum;
	     if(element[1]!= undefined)
	    {
	    element[1].innerHTML = sum;
	    }
        {% else %}
        var cart = {};
        var sum = 0;
        var present_id =0;
        {% endif %}
		updateCart(cart);
	}

	//dsvsv If the add to cart button is clicked, add/increment the item
	//$('.cart').click(function() {
		$('.divpr').on('click', 'button.cart', function(){
            URL = "{% url 'add-to-cart' %}";
		var idstr = this.id.toString();
		console.log(idstr);
		if (cart[idstr] != undefined) {
            var id = parseInt(idstr.slice(2,))
            var csrftoken = '{{ csrf_token }}';
            console.log(csrftoken)
            data= {
                "csrfmiddlewaretoken": csrftoken ,
                "pk":id
            }
			qty = cart[idstr][0] + cart[idstr][3];
			console.log(cart[idstr]);
            $.post(URL,data)
		} else {
            var id = parseInt(idstr.slice(2,))
            var csrftoken = '{{ csrf_token }}';
            data= {
                "csrfmiddlewaretoken": csrftoken ,
                "pk":id
            }
            $.post(URL,data)
            setquantity = document.getElementById('set'+idstr).innerHTML;
			qty = parseInt(setquantity);
			name = document.getElementById('name'+idstr).innerHTML;
			price = document.getElementById('price'+idstr).innerHTML;
            orderitem = document.getElementById('orderitem'+idstr);
			cart[idstr] = [qty, name, parseInt(price),parseInt(setquantity)];
			console.log(cart[idstr]);



		}
		updateCart(cart);

	});




	function clearCart() {
		cart = JSON.parse(sessionStorage.getItem('cart'));
		for (var item in cart) {
            if (document.getElementById('div' + item) != null)
            {
			document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
            }
		}
		sessionStorage.clear();
		cart = {};
		updateCart(cart);


	}

	function updateCart(cart) {
		console.log('We are inside updatecarr');
		var sum = 0;


		for (var item in cart) {
			sum = sum + 1;
			console.log(item);
			console.log(item);
        if (document.getElementById('div' + item) != null)
        {
		document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        }
		}
		sessionStorage.setItem('cart', JSON.stringify(cart));
		element =  document.getElementsByClassName('cartlength');
	    element[0].innerHTML = sum;
	    if(element[1]!= undefined)
	    {
	    element[1].innerHTML = sum;
	    }

	}

	// If plus or minus button is clicked, change the cart as well as the display value
    var URL = "{% url 'quantityupdate' %}";
	$('.divpr').on("click", "button.minus", function() {
		a = this.id.slice(7, );
		quant = parseInt(this.name);
		console.log(this.name);
		cart['pr' + a][0] = cart['pr' + a][0] - cart['pr' + a][3] ;
		cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
		if (cart['pr' + a][0] == 0){
			document.getElementById('divpr' + a).innerHTML = '<button id="pr'+a+'" class="btn btn-primary cart">Add to Cart</button>';
			delete cart['pr'+a];
            var csrftoken = '{{ csrf_token }}';
            console.log(csrftoken)
            data= {
                "csrfmiddlewaretoken": csrftoken ,
                "pk":parseInt(a),
                "id":present_id,
                "dispatch":0,
                "quantity":0
            }
            $.post(URL,data);
		}
		else{
			document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
            var csrftoken = '{{ csrf_token }}';
            console.log(csrftoken);
            data= {
                "csrfmiddlewaretoken": csrftoken ,
                "pk":parseInt(a),
                "id":present_id,
                "dispatch":0,
                "quantity":cart['pr' + a][0]
            }
            $.post(URL,data);
            console.log(data)
		}
		updateCart(cart);

	});

	$('.divpr').on("click", "button.plus", function() {
		a = this.id.slice(6, );
		cart['pr' + a][0] = cart['pr' + a][0] + cart['pr' + a][3] ;
		document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        var csrftoken = '{{ csrf_token }}';
            console.log(csrftoken);
            data= {
                "csrfmiddlewaretoken": csrftoken ,
                "pk":parseInt(a),
                "id":present_id,
                "dispatch":0,
                "quantity":cart['pr' + a][0]
            }
            $.post(URL,data);
            console.log(data);
            updateCart(cart);
	});
	</script>


{% block footer_scripts %}
{% endblock footer_scripts %}

</body>
</html>
